@import 'src/styles/_vars.scss';

.main {
  // title
  &__title {
    margin: $borderGutter 0 $postSectionGutter;
    font-size: 2em;
    font-family: $titleFont;
    font-weight: $titleFont;
    text-align: center;
    color: $mainTitleColor;
    text-transform: uppercase;
  }

  // article section
  &__article-section {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 $postSectionGutter;

    &__link {
      width: 50%;

      &__article {
        padding: 0 2rem;
        margin-bottom: $postGutter;
  
        &__title {
          font-size: 1.25em;
          color: $postTitleColor;
          font-family: $titleFont;
          font-weight: $titleFont;
          text-transform: uppercase;
        }
  
        &__category {
          font-size: 0.65em;
          color: $categoryTextColor;
          text-transform: uppercase;
          background-color: $categoryBackgroundColor;
          display: inline-block;
          margin: 0.5rem 0;
          padding: 0.5rem;
        }
  
        &__content {
          font-size: 0.9em;
          color: $postTextColor;
        }
      }
    }
  }

  @media (max-width: 375px) {
    .main {

      &__article-section {
        &__link {
          width: 100%;

          &__article {
          }
        }
      }
    }
  }  
}
