$borderGutter: 35px;

// font
$titleFont: 'Oswald', sans-serif;
$titleWeight: 500;

// header
$headerBorderColor: #ddd;
$headerNavLinkColor: #101010;
$headerNavLinkHoverColor: #e52354;

// posts
  // title
  $mainTitleColor: #e52354;

  // post section
  $postSectionGutter: 3rem;

  // a post
  $postTitleColor: #000;
  $hoverPostColor: #f7f7f7;
  $categoryBackgroundColor: #e52354;
  $categoryTextColor: #fff;
  $postTextColor: #777;
  $postGutter: 3rem;

// footer
$footerBackgroundColor: #101010;
$footerTextColor: #ddd;
$footerPadding: 3rem;
