@import 'src/styles/_vars.scss';

.header {
  padding: $borderGutter 0;
  border-bottom: 1px solid $headerBorderColor;
  
  &__navlist {
    display: flex;
    flex-direction: row;
    justify-content: center;

    li {
      margin-right: 1rem;

      &:last-child {
        margin-right: inherit;
      }
    }

    &__link {
      padding: 1rem;

      &--active {
        color: $headerNavLinkHoverColor;
      }
    }
  }
}
